## Players And Their Attributes

In [1]:
# Import packages
import pandas as pd
from datetime import date

In [2]:
# load csv file
df_pla_attr = pd.read_csv('data/Player_Attributes.csv')
df_pla = pd.read_csv('data/Player.csv')

In [3]:
# Sort date by descending to have recent entry at the top
df_pla_attr.sort_values(by='date', ascending = False)

# Remove duplicates whiles keeping the recent entry of player's attribute
df_pla_attr.drop_duplicates(subset='player_fifa_api_id', inplace=True)

In [4]:
# Drop rows with null values
df_pla_attr.dropna(inplace = True)

In [ ]:
df_pla_attr['attacking_work_rate'].value_counts()

In [ ]:
df_pla_attr['defensive_work_rate'].value_counts()

In [ ]:
ratings = ['medium', 'high', 'low']

# Remove ratings other than 'medium', 'high' and 'low'
df_pla_attr = df_pla_attr[df_pla_attr['attacking_work_rate'].isin(ratings)]
df_pla_attr = df_pla_attr[df_pla_attr['defensive_work_rate'].isin(ratings)]

In [5]:
# Print the number of samples and columns in the dataset
print('The number of players in the dataset is', df_pla_attr.shape[0], 
     '\nand the number of columns is', df_pla_attr.shape[1])

The number of players in the dataset is 10410
and the number of columns is 42

In [6]:
# merge two datasets, Player and Player_attributes
df_players = pd.merge(df_pla, df_pla_attr, on='player_api_id')

In [7]:
# Drop columns 
columns = ['id_x', 'id_y', 'player_fifa_api_id_y', 'date','crossing', 'finishing', 'heading_accuracy',
       'short_passing', 'volleys', 'dribbling', 'curve', 'free_kick_accuracy', 'long_passing', 
       'acceleration', 'sprint_speed', 'agility', 'reactions', 'balance', 'shot_power', 'jumping', 
       'stamina', 'strength', 'long_shots', 'aggression', 'interceptions', 'positioning',
       'vision', 'penalties', 'marking', 'standing_tackle', 'sliding_tackle',
       'gk_diving', 'gk_handling', 'gk_kicking', 'gk_positioning', 'gk_reflexes']

df_players.drop(columns=columns, inplace=True)

In [8]:
# Calculate Age from birthday
today = date.today()

df_players['birthday'] = pd.to_datetime(df_players['birthday']).dt.date
df_players['Age'] = today - df_players['birthday']
df_players['Age'] = df_players['Age'].dt.days.astype("int16") // 365

In [9]:
# Calculate the BMI
#convert weight pounds to kg
wei_kg = df_players['weight'] * 0.45359237

df_players['BMI'] = round((wei_kg / df_players['height'] / df_players['height']) * 10000, 2)

In [10]:
df_players.head()

,player_api_id,player_name,player_fifa_api_id_x,birthday,height,weight,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,ball_control,Age,BMI
0,505942,Aaron Appindangoye,218353,1992-02-29,182.88,187,67.0,71.0,right,medium,medium,49.0,32,25.36
1,155782,Aaron Cresswell,189615,1989-12-15,170.18,146,74.0,76.0,left,high,medium,71.0,34,22.87
2,162549,Aaron Doran,186170,1991-05-13,170.18,163,65.0,67.0,right,medium,medium,67.0,33,25.53
3,30572,Aaron Galindo,140161,1982-05-08,182.88,198,69.0,69.0,right,medium,medium,62.0,42,26.85
4,23780,Aaron Hughes,17725,1979-11-08,182.88,154,70.0,70.0,right,medium,medium,58.0,44,20.89

In [11]:
df_players.describe()

,player_api_id,player_fifa_api_id_x,height,weight,overall_rating,potential,ball_control,Age,BMI
count,10410.000000,10410.000000,10410.000000,10410.000000,10410.000000,10410.000000,10410.000000,10410.000000,10410.000000
mean,162979.801153,169207.052065,181.884984,168.414409,68.154755,71.024304,62.310375,36.482997,23.066304
std,163075.494848,55751.498525,6.382529,15.025435,6.262470,6.200053,15.366419,5.216344,1.322317
min,2625.000000,2.000000,157.480000,117.000000,47.000000,49.000000,9.000000,25.000000,17.870000
25%,36803.000000,156992.500000,177.800000,159.000000,64.000000,67.000000,58.000000,32.000000,22.160000
50%,106257.000000,186721.500000,182.880000,168.000000,68.000000,71.000000,66.000000,36.000000,23.060000
75%,229753.500000,204614.750000,185.420000,179.000000,72.000000,75.000000,72.000000,40.000000,23.870000
max,750584.000000,234141.000000,208.280000,243.000000,94.000000,94.000000,96.000000,55.000000,30.870000

In [12]:
# data only on RIGHT preferred foot
df_players[df_players['preferred_foot'] == 'right'].describe()

,player_api_id,player_fifa_api_id_x,height,weight,overall_rating,potential,ball_control,Age,BMI
count,7864.000000,7864.000000,7864.000000,7864.000000,7864.000000,7864.000000,7864.000000,7864.000000,7864.000000
mean,162106.948881,168967.132121,182.120972,168.980163,68.143947,71.003433,61.669125,36.529756,23.084107
std,163339.472571,55977.976454,6.415560,15.053303,6.319718,6.197283,15.935115,5.251224,1.321876
min,2625.000000,6.000000,157.480000,117.000000,47.000000,49.000000,9.000000,25.000000,17.870000
25%,36286.750000,156508.500000,177.800000,159.000000,64.000000,67.000000,57.000000,32.000000,22.180000
50%,103893.500000,186567.500000,182.880000,168.000000,68.000000,71.000000,65.000000,36.000000,23.100000
75%,214807.000000,204638.250000,187.960000,179.000000,72.000000,75.000000,72.000000,40.000000,23.880000
max,750584.000000,234141.000000,208.280000,243.000000,93.000000,94.000000,93.000000,55.000000,30.870000

In [13]:
# data only on LEFT preferred foot
df_players[df_players['preferred_foot'] == 'left'].describe()

,player_api_id,player_fifa_api_id_x,height,weight,overall_rating,potential,ball_control,Age,BMI
count,2546.000000,2546.000000,2546.000000,2546.000000,2546.000000,2546.000000,2546.000000,2546.000000,2546.000000
mean,165675.838178,169948.108798,181.156072,166.666929,68.188138,71.088767,64.291045,36.338570,23.011312
std,162259.737723,55050.376269,6.224390,14.806035,6.083340,6.209377,13.267496,5.105417,1.322426
min,2768.000000,2.000000,160.020000,121.000000,47.000000,51.000000,11.000000,25.000000,18.410000
25%,37516.750000,158387.250000,177.800000,157.000000,64.000000,67.000000,60.000000,32.000000,22.150000
50%,111046.500000,187986.000000,180.340000,165.000000,68.000000,71.000000,66.000000,36.000000,23.060000
75%,240490.500000,204502.750000,185.420000,176.000000,72.000000,75.000000,73.000000,40.000000,23.870000
max,744907.000000,233911.000000,203.200000,225.000000,94.000000,94.000000,96.000000,53.000000,29.570000

In [14]:
df_players.to_excel('data/Players_and_thier_Attributes.xlsx', sheet_name='Players', index=False)